:root {
    --fondo: #f4ead8;
    --texto-rojo: #a22216;
    --amarillo: #dd9a00; 
    --negro: #181613;
    --blanco: #fffaf1;
    --border: 2px solid var(--negro);
    --serif: Georgia, "Times New Roman", serif;
    --sans: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--fondo);
    color: var(--negro);
    font-family: var(--sans);
}

a {
    color: inherit;
    text-decoration: none;
}


/* HEADER----------------------------------------------------------------------*/

.site-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--fondo);
    border-bottom: var(--border);
    backdrop-filter: blur(8px);
}

.logo {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: -.05em;
}

.logo span:last-child {
    color: var(--texto-rojo);
    font-style: italic;
}

.main-nav {
    display: flex;
    gap: 28px;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.main-nav a {
    position: relative;
}

.main-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--texto-rojo);
    transition: width 0.25s;
}

.main-nav a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    border: 0;
    background: transparent;
}

/* INICIO----------------------------------------------------------------------*/

.hero {
    min-height: 100vh;
    padding: 100px 6vw 45px;
    position: relative;
    overflow: hidden;
    border-bottom: var(--border);
}

.hero-copy {
    align-self: center;
    z-index: 2;
}

.eyebrow,
.section-label,
.tag {
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.eyebrow {
    margin-bottom: 28px;
}

.hero h1 {
    font-size: clamp(100px, 17vw, 260px);
    line-height: 0.72;
    letter-spacing: -0.09em;
    font-weight: 900;
}

h1 em { 
    color: var(--texto-rojo);
}

h2 em {
    color: var(--texto-rojo);
    font-family: var(--serif);
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.07em;
}

.hero-subtitle {
    margin-top: 50px;
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 900;
    text-transform: uppercase;
}

.hero-text {
    max-width: 420px;
    margin: 15px 0 28px;
    line-height: 1.5;
}


.hero-bottom {
    position: absolute;
    left: 6vw;
    right: 6vw;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 0.1em;
}


/* FESTIVAL----------------------------------------------------------------------*/

.section {
    padding: 110px 7vw;
    border-bottom: var(--border);
}

.section-label {
    margin-bottom: 60px;
}

.intro-grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 9vw;
}

h2 {
    font-size: clamp(60px, 9vw, 135px);
    line-height: 0.82;
    letter-spacing: -0.075em;
    font-weight: 900;
}

.large-copy {
    font-size: clamp(24px, 3vw, 42px);
    line-height: 1.08;
    margin-bottom: 25px;
}

/* PROGRAMA----------------------------------------------------------------------*/

.section-heading {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: end;
    margin-bottom: 70px;
}

.section-heading p {
    max-width: 250px;
    line-height: 1.5;
}

.days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: transparent;
}
.day-button {
    padding: 25px;
    text-align: left;
    background: transparent;
    border: var(--border);
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.day-button.active {
    background: var(--texto-rojo);
    color: var(--blanco);
}

.day-button small {
    display: block;
    margin-top: 6px;
    font-size: 10px;
}

.schedule {
    display: grid;
}

.event {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid var(--negro);
}

.event time {
    font-size: 16px;
    font-weight: 900;
}

.event h3 {
    margin: 8px 0 5px;
    font-size: 30px;
    text-transform: uppercase;
}

/* CONCURSO----------------------------------------------------------------------*/

.concurso {
    background: var(--texto-rojo);
    color: var(--blanco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.concurso h2 em {
    color: var(--amarillo);
}

.concurso .section-label {
    color: var(--amarillo);
}

.contest-copy p {
    max-width: 450px;
    margin: 30px 0;
    line-height: 1.6;
}

.stats {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.stats div {
    display: flex;
    flex-direction: column;
}

.stats strong {
    font-size: 42px;
    color: var(--amarillo);
}

.stats span {
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.button-light {
    background-color: var(--blanco);
    color: var(--negro);
    padding: 10px 95px;
    font-family: var(--sans);
    border: 2px solid var(--blanco);
    cursor: pointer;
    transition: all 0.25s ease;
}

.button-light:hover {
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    transform: scale(1.06);
}

/* ENTRADAS----------------------------------------------------------------------*/

.ticket-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

.ticket {
    padding: 35px;
    border: var(--border);
    min-height: 170px;
    display: flex;
    flex-direction: column;
}

.ticket + .ticket {
    border-left: 0;
}

.ticket.featured {
    background: var(--texto-rojo);
    color: var(--blanco);
}

.ticket > span {
    font-size: 11px;
    font-weight: 900;
}

.ticket h3 {
    margin: 55px 0 10px;
    font-size: 32px;
}

.ticket p {
    line-height: 1.5;
    min-height: 55px;
}

.ticket strong {
    margin-top: auto;
    font-family: var(--serif);
    font-size: 55px;
    font-weight: 400;
}

.ticket-select {
    margin-top: 20px;
    padding: 13px;
    border: 2px solid currentColor;
    background: transparent;
    color: inherit;
    font-size: 11px;
    font-weight: 900;
}

.ticket-select:hover {
    background: var(--amarillo);
    color: var(--negro);
}

/* CONTACTO----------------------------------------------------------------------*/

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.contact label:not(.check) {
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
}

.contact input[type="text"],
.contact input[type="email"] {
    width: 100%;
    padding: 16px 0;
    margin-bottom: 7px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--negro);
    outline: none;
}

.contact input:focus {
    border-color: var(--texto-rojo);
}

.check {
    display: flex;
    gap: 10px;
    margin: 25px 0;
    font-size: 12px;
    line-height: 1.4;
}

.check input {
    accent-color: var(--texto-rojo);
}

.error {
    min-height: 16px;
    color: var(--texto-rojo);
    font-size: 11px;
}

.form-message {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 900;
}

.button-dark {
    background-color: var(--negro);
    color: var(--fondo);
    padding: 10px 15px;
    font-family: var(--sans);
    border: 2px solid var(--negro);
    cursor: pointer;
    transition: all 0.25s ease;
}

.button-dark:hover {
    background-color: var(--texto-rojo);
    border-color: var(--texto-rojo);
    transform: scale(1.06);
}

/* FOOTER----------------------------------------------------------------------*/

footer {
    padding: 40px 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.footer-logo {
    font-size: 28px;
    letter-spacing: -0.07em;
}

/* BASES----------------------------------------------------------------------*/

.modal {
    position: fixed;
    inset: 0;
    z-index: 200;
    display: grid;
    place-items: center;
    padding: 20px;
    background: rgba(24, 22, 19, .7);
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 55px;
    background: var(--fondo);
    border: var(--border);
}

.modal-content h2 {
    margin: 25px 0;
    font-size: clamp(55px, 8vw, 90px);
}

.modal-content li {
    margin: 14px 0;
    padding-left: 10px;
    line-height: 1.5;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 0;
    background: transparent;
    font-size: 36px;
}

/* BOTÓN FIJO ENTRADAS ------------------------------------------------------*/

.fixed-tickets-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 150;
    padding: 16px 28px;
    background: var(--negro);
    color: var(--fondo);
    border: none;
    font-family: var(--sans);
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.fixed-tickets-button:hover {
    background: var(--negro);
    color: var(--fondo);
}


/* FORMULARIO DE ENTRADAS ---------------------------------------------------*/

.tickets-content {
    max-width: 650px;
    max-height: 90vh;
    overflow-y: auto;
}

.tickets-content h2 {
    margin: 25px 0 40px;
}


/* FORMULARIO ---------------------------------------------------*/

#entradas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#entradas label {
    margin-top: 10px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

#entradas input[type="text"],
#entradas input[type="email"],
#entradas input[type="number"],
#entradas select {
    width: 100%;
    padding: 14px 0;

    background: transparent;

    border: 0;
    border-bottom: 2px solid var(--negro);

    font-family: var(--sans);
    font-size: 14px;

    outline: none;
}

#entradas input:focus,
#entradas select:focus {
    border-color: var(--texto-rojo);
}


/* TOTAL ---------------------------------------------------*/

.total {
    margin-top: 25px;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 2px solid var(--negro);
    border-bottom: 2px solid var(--negro);
}

.total span {
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.total strong {
    font-family: var(--serif);
    font-size: 32px;
    font-weight: 400;
}


/* BOTÓN COMPRAR ---------------------------------------------------*/

#entradas input[type="submit"] {
    margin-top: 20px;
    padding: 16px;

    background: var(--negro);
    color: var(--blanco);

    border: none;

    font-family: var(--sans);
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.08em;

    cursor: pointer;
}

#entradas input[type="submit"]:hover {
    background: var(--texto-rojo);
}


/* MODAL CONFIRMACIÓN -------------------------------------------------------*/

#modal {
    position: fixed;
    inset: 0;
    z-index: 300;

    display: none;

    align-items: center;
    justify-content: center;

    padding: 20px;

    background: rgba(0, 0, 0, 0.7);
}

#modal > div {
    width: 100%;
    max-width: 500px;

    padding: 45px;

    background: var(--fondo);
    border: var(--border);
}

#modal h2 {
    margin-bottom: 15px;
    font-size: 45px;
}

#modal p {
    margin-bottom: 25px;
}

#modal ul {
    list-style: none;
    margin-bottom: 25px;
}

#modal li {
    padding: 10px 0;
    border-bottom: 1px solid var(--negro);
    font-size: 13px;
}

#modal li span {
    font-weight: 900;
}

#modal button {
    width: 100%;
    padding: 14px;

    background: var(--negro);
    color: var(--blanco);

    border: none;

    font-family: var(--sans);
    font-size: 11px;
    font-weight: 900;

    cursor: pointer;
}

#modal button:hover {
    background: var(--texto-rojo);
}

